<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
  </appender>
  <appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="./log/KafkaCDC-debug.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
  </appender>
  <appender name="INFO" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="./log/KafkaCDC-info.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
    </filter>
  </appender>
  <appender name="WARN" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="./log/KafkaCDC-warn.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
    </filter>
  </appender>
  <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="./log/KafkaCDC-error.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR"/>
    </filter>
  </appender>
  <appender name="FATAL" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="./log/KafkaCDC-compressColumnMessage.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} -- %p -- %t %l, %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="FATAL"/>
    </filter>
  </appender>
  <root>

    <!--<priority value="debug"/> 因为db2连接池会打印出一大串debug信息 暂时调为info -->
    <priority value="INFO"/>
    <appender-ref ref="STDOUT"/> 
    <appender-ref ref="DEBUG"/>
    <appender-ref ref="INFO"/>
    <appender-ref ref="WARN"/>
    <appender-ref ref="ERROR"/>
    <appender-ref ref="FATAL"/>
    
  </root>
</log4j:configuration>
